{% extends "parent.html" %}

{% block title %} - {% if id %}Edit{%else%}Add{%endif%} Achievement{% endblock %}

{% block content %}
<h2>{% if id %}Edit{%else%}Add{%endif%} an Achievement</h2>

<form method="post">

    <div>
        <label>Name:</label> <input type="text" name="name" value="{{name}}"/> <br />
        <label>Type:</label>
        <select name="kind">
            <option value="PATTERN">Pattern</option>
            <option value="STUNT">Stunt</option>
        </select>
    </div>

    <br />

    <div>
        <label>Tags</label> <input name="tags" type="text" value="{{tags}}" />
    </div>

    <br />

    <div>
        <a href="#" onclick="$('#advanced').toggle();">Advanced</a>
        <div id="advanced" style="display: none">
            <label>Notation Type:</label>
            <select name="notation_type">
                <option value="JML">JML</option>
                <option value="SITESWAP">Siteswap</option>
            </select>
            <br />
            <label>Notation:</label>
            <textarea name="notation">{{notation}}</textarea>
        </div>
    </div>

    <br />

    <div>
        <input type="submit" value="{% if id %}Save{%else%}Add{%endif%} Achievement" />
    </div>

</form>
{% endblock %}

{% block initjs %}
<script type="text/javascript">
$().ready(function() {
    var kind = '{{kind}}';
    $('option[value="' + kind + '"]').attr('selected', 'selected');
    
    var notation_type = '{{notation_type}}';
    $('option[value="' + notation_type + '"]').attr('selected', 'selected');
});
</script>
{% endblock %}
