{% extends "parent.html" %}

{% block title %} - All Achievements{% endblock %}

{% block content %}
<h2>All Achievements</h2>

<table>
    <tr>
        <th>Achievement</th>
        <th>Points</th>
        <th>Value</th>
        <th>Type</th>
        <th>Date Created</th>
    </tr>
    {% for ach in achievements %}
    <tr>
        <td><a href="achievement/{{ach.id}}">{{ach.name}}</a></td>
        <td>{{ach.points}}</td>
        <td>{{ach.value|floatformat:2}}</td>
        <td>{{ach.get_kind_display|title}}</td>
        <td>{{ach.date_created|date:"M d, Y @ H:i"}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

