{% extends "parent.html" %}

{% block title %} - {{achievement.name}}{% endblock %}

{% block content %}
<h2>{{achievement.name}}</h2>
<table>
<tr><th>Type</th><td>{{achievement.get_kind_display|title}}</td></tr>
<tr><th>Value</th>
<td>
  {% ifequal achievement.value 101 %}
    N/A
  {% else %}
    {{achievement.value|floatformat:2}}
  {% endifequal %}
</td></tr>
</table>
<div style="float: left">
{% ifnotequal achievement.notation|length 0 %}
<applet archive="/juggletrack/site_media/JugglingLab/bin/JugglingLab.jar" code="JugglingLab" width=200 height=300>
<param name="config" value="entry=none;view=simple" />
<param name="notation" value="{{achievement.notation_type}}"/>
<param name='pattern' value='
{{achievement.notation}}
'/>
Java not available
</applet>
{% endifnotequal %}
</div>
<div id="value_vs_time_chart" style="width:300px; height:200px; float: left;"></div>
<div style="clear: both;"></div>
<h3>Tags</h3>
<form action="{% url juggletrack.views.achievement_settags achievement.id %}" method="post">
        <input name="tags" type="text" value="{{tags}}" />
        <input type="submit" value="Set Tags" />
    </form>
<h3>Jugglers</h3>
{% if jugglers %}
<table id="jugglers" class="display">
  <thead>
    <tr>
        <th>Name</th>
        <th>Date Achieved</th>
    </tr>
  </thead>
  <tbody>
    {% for j in jugglers %}
    <tr>
        <td><a href="/juggletrack/juggler/{{j.juggler.id}}">{{j.juggler.name}}</a></td>
        <td>{{j.date_created|date:"M d, Y @ H:i"}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Nobody has achieved this yet.</p>
{% endif %}
{% endblock %}

{% block initjs %}
<script type="text/javascript">
  $('#jugglers').dataTable({
    "bPaginate": false,
    "aaSorting": [[ 1, "desc" ]],
    "bFilter": false,
  });
  
  //draw chart
  var options = {
    lines: { show: true },
    points: { show: true },
    xaxis: { mode: 'time'},
    yaxis: { min: 0 },
    grid: { hoverable: true }
  };
  var data = [];
  var chartdiv = $("#value_vs_time_chart");
    
  var onDataReceived = function(series) {
    data = [series.data];
    bindTooltip(chartdiv, [series.info]);
    $.plot(chartdiv, data, options);
  };
        
  $.ajax({
    url: 'value_chart_data',
    method: 'GET',
    dataType: 'json',
    success: onDataReceived
  }); 
</script>
{% endblock %}
