{% extends "parent.html" %}
{% load tagging_tags %}

{% block title %}Dashboard{% endblock %}
{% block script %}
<link rel="stylesheet" type="text/css" href="/juggletrack/site_media/css/dashboard.css" />
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="module recent-activity">
            <div class="section-head">Recent Activity</div>
            <ol class="events">
                {% for event in events %} 
                <li class="event">
                <span class="event-body">
                    <span class="event-content">{{event.description|safe}}</span>
                    <span class="event-meta">{{event.created|date}}</span>
                </span>
                </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    <div class="wrapper">
        <div class="module tags">
            <div class="section-head">Tags</div>
            {% tag_cloud_for_model juggletrack.Achievement as tag_cloud %}
            {% for tag in tag_cloud %}
            <span class="tag" style="font-size:{{tag.font_size}}em;">
                <a href="{% url juggletrack.views.achievement.collection_with_tag tag.name %}">{{tag.name}}</a>
            </span>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block initjs %}
{% endblock %}
