{% extends "parent.html" %}

{% block title %} - All Jugglers{% endblock %}

{% block script %}
<script type="text/javascript">
function force_two_checked() {
  var checkboxes = document.getElementsByName('juggler');
  var count = 0;
  for (var i in checkboxes) {
    if (checkboxes[i].checked == true) {
      count++;
    }
  }

  var submit = document.getElementById('submit_button');
  if (count == 2) {
    submit.disabled = false;
  } else {
    submit.disabled = true;
  }
}

$().ready(function() {
  force_two_checked();
});
</script>
{% endblock %}

{% block content %}
<h3>Jugglers</h3>
<form action="juggler_diff" method="get">
<table>
<tr>
<th></th>
<th>Name</th>
<th>Points</th>
</tr>
{% for juggler in jugglers %}
<tr>
<td><input type="checkbox" name="juggler" value="{{juggler.id}}" onclick="force_two_checked()" /></td>
<td><a href="juggler/{{juggler.id}}/">{{ juggler.name }}</a></td>
<td>{{ juggler.score }}</td>
</tr>
{% endfor %}
</table>
<input type="submit" id="submit_button" class="submit_button" value="Fight!" />
<p><a href="achievements">Achievements</a></p>
</form>
{% endblock %}

