{% extends "parent.html" %}

{% block title %} - All Jugglers{% endblock %}

{% block initjs %}
<script type="text/javascript">

$().ready(function() {
  var force_two_checked = function() {
    var checkboxes = document.getElementsByName('juggler');
    var count = 0;
    for (var i in checkboxes) {
      if (checkboxes[i].checked == true) {
        count++;
      }
    }

    var submit = $('#submit_button');
    if (count == 2) {
      submit[0].disabled = false;
      submit.removeClass('disabled');
    } else {
      submit[0].disabled = true;
      submit.addClass('disabled');
    }
  }

  force_two_checked();

  $('#jugglers').dataTable({
    "bFilter": false,
    "bInfo": false,
    "bPaginate": false,
    "aaSorting": [[ 2, "desc" ]],
    "aoColumns": [null, {"sType": "html"}, null, null]
  });
  $('#jugglers').css('width', '100%');
  
  $('.juggle_check').click(force_two_checked);
  
  $('#sidebar .events').load('{% url juggletrack.views.sidebar.events %}');
  $('#sidebar .tags').load('{% url juggletrack.views.sidebar.achievement_tags %}');
});
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="span-18">
        <h2>Jugglers</h2>

        <form action="juggler_diff" method="get">
            <table id="jugglers" class="display">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Affiliation</th>
                    </tr>
                </thead>
                <tbody>
                    {% for juggler in jugglers %}
                        <tr>
                            <td><input type="checkbox" name="juggler" value="{{juggler.id}}" class="juggle_check" /></td>
                            <td><a href="juggler/{{juggler.id}}/">{{ juggler.get_name }}</a></td>
                            <td>{{juggler.score|floatformat:2}}</td>
                            <td>{{juggler.affiliation.name}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button onclick="$(form).submit()" id="submit_button">Compare</button>
        </form>
    </div>
    <div id="sidebar" class="span-6 last">
        <div class="events"></div>
        <div class="tags"></div>
        <div class="sidebar links">
            <div class="module-head">Links</dev>
            <div class="module-body">
                <ul>
                    <li><a href="other_stats">Other Stats</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

