{% extends "parent.html" %}

{% block title %} - All Jugglers{% endblock %}

{% block initjs %}
<script type="text/javascript">

$().ready(function() {
  var force_two_checked = function() {
    var checkboxes = document.getElementsByName('juggler');
    var count = 0;
    for (var i in checkboxes) {
      if (checkboxes[i].checked == true) {
        count++;
      }
    }

    var submit = document.getElementById('submit_button');
    if (count == 2) {
      submit.disabled = false;
    } else {
      submit.disabled = true;
    }
  }

  force_two_checked();

  $('#jugglers').dataTable({
    "bPaginate": false,
    "aaSorting": [[ 2, "desc" ]],
    "aoColumns": [null, {"sType": "html"}, null, null]
  });
  $('.juggle_check').click(force_two_checked);
  
  //draw chart
  var options = {
    lines: { show: true },
    points: { show: true },
    xaxis: { mode: 'time'},
  };
  var data = [];
  var chartdiv = $("#overall_score_vs_time_chart");
    
  var onDataReceived = function(series) {
      data.push(series);
      $.plot(chartdiv, data, options);
  };
        
  $.ajax({
    url: 'jugglers/overall_score_chart_data',
    method: 'GET',
    dataType: 'json',
    success: onDataReceived
  });
});
</script>
{% endblock %}

{% block content %}
<h3>Jugglers</h3>
<h4 style="margin-left: auto;margin-right: auto; width: 300px; text-align: center; padding-bottom: 0px;">Overall Score Total vs. Time</h4>
<div id="overall_score_vs_time_chart" style="width:800px;height:200px;margin-left:auto;margin-right:auto;"></div>
<form action="juggler_diff" method="get">
<a href="register">Register</a>
<table id="jugglers" class="display">
<thead>
<tr>
<th></th>
<th>Name</th>
<th>Score</th>
<th>Affiliation</th>
</thead>
<tbody>
</tr>
{% for juggler in jugglers %}
<tr>
<td><input type="checkbox" name="juggler" value="{{juggler.id}}" class="juggle_check" /></td>
<td><a href="juggler/{{juggler.id}}/">{{ juggler.get_name }}</a></td>
<td>{{juggler.score|floatformat:2}}</td>
<td>{{juggler.affiliation.name}}</td>
</tr>
{% endfor %}
</tbody>
</table>
<br />
  <input type="submit" id="submit_button" class="submit_button" value="Fight!" />
</form>
{% endblock %}

