{% extends "parent.html" %}

{% block title %} - {{juggler1.name}} vs. {{juggler2.name}}{% endblock %}

{% block content %}
<h2>Juggler Fight!</h2>
<p>Each list shows the juggler's achievements which the other juggler has not achieved.</p>
<div id="juggler1" style="float: left; padding-right: 20px;">
<h2>{{juggler1.name}} - {{juggler1.score}} points</h2>
{% if only1 %}
<table id="juggler-1" class="display">
  <thead>
    <tr>
        <th>Achievement</th>
        <th>Points</th>
        <th>Value</th>
        <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for ach in only1 %}
    <tr>
        <td><a href="achievement/{{ach.id}}">{{ach.name}}</a></td>
        <td>{{ach.points}}</td>
        <td>{{ach.value|floatformat:2}}</td>
        <td>{{ach.get_kind_display|title}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  {% if juggler1.score %}
    All of {{juggler1.name}}'s achievements<br />have been achieved by {{juggler2.name}}.
  {% else %}
    {{juggler1.name}} does not have any achievements.
  {% endif %}
{% endif %}
</div>

<div id="juggler2" style="float: left;">
<h2>{{juggler2.name}} - {{juggler2.score}} points</h2>
{% if only2 %}
<table id="juggler-2" class="display">
  <thead>
    <tr>
        <th>Achievement</th>
        <th>Points</th>
        <th>Value</th>
        <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {% for ach in only2 %}
    <tr>
        <td><a href="achievement/{{ach.id}}">{{ach.name}}</a></td>
        <td>{{ach.points}}</td>
        <td>{{ach.value|floatformat:2}}</td>
        <td>{{ach.get_kind_display|title}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
    {% if juggler2.score %}
        All of {{juggler2.name}}'s achievements<br />have been achieved by {{juggler1.name}}
    {% else %}
        {{juggler2.name}} does not have any achievements.
    {% endif %}
{% endif %}
</div>
{% endblock %}

{% block initjs %}
<script type="text/javascript">
  $(document).ready(function() {
    var tableSettings = { "bPaginate": false, "bFilter": false, "aaSorting": [[ 1, "desc" ]]}
    $('#juggler-1').dataTable(tableSettings);
    $('#juggler-2').dataTable(tableSettings);
  });
</script>
{% endblock %}
