{% extends "parent.html" %}

{% block title %} - {{juggler1.get_name}} vs. {{juggler2.get_name}}{% endblock %}

{% block content %}
<div class="container">
    <div class="span-24 last">
        <h2>Juggler Comparison</h2>
    </div>

    <div class="span-24 last">
        <div id="diff_vs_time_chart" style="width:600px;height:300px"></div>
        <!-- TODO: fix width of legend -->
        <div id="chart_legend" style="width:200px;"></div>
    </div>

    <div class="span-24">
        <p>Each list shows the juggler's achievements which the other juggler has not achieved.</p>
        <div id="juggler1" class="span-12">
            <h2 class="title">{{juggler1.get_name}}</h2>
            <h3>Score: {{juggler1.score|floatformat:2}}</h3>

            {% if only1 %}
                <table id="juggler-1" class="display">
                    <thead>
                        <tr>
                            <th>Achievement</th>
                            <th>Value</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ach in only1 %}
                        <tr>
                            <td><a href="/juggletrack/achievement/{{ach.id}}">{{ach.name}}</a></td>
                            <td>
                                {% ifequal ach.value 101 %}
                                    N/A
                                {% else %}
                                    {{ach.value|floatformat:2}}
                                {% endifequal %}
                            </td>
                            <td>{{ach.get_kind_display|title}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if juggler1.score %}
                    All of {{juggler1.get_name}}'s achievements<br />have been achieved by {{juggler2.get_name}}.
                {% else %}
                    {{juggler1.get_name}} does not have any achievements.
                {% endif %}
            {% endif %}
        </div>

        <div id="juggler2" class="span-12 last">
            <h2 class="title">{{juggler2.get_name}}</h2>
            <h3>Score: {{juggler2.score|floatformat:2}}</h3>

            {% if only2 %}
                <table id="juggler-2" class="display">
                    <thead>
                        <tr>
                            <th>Achievement</th>
                            <th>Value</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ach in only2 %}
                            <tr>
                                <td><a href="/juggletrack/achievement/{{ach.id}}">{{ach.name}}</a></td>
                                <td>
                                    {% ifequal ach.value 101 %}
                                        N/A
                                    {% else %}
                                        {{ach.value|floatformat:2}}
                                    {% endifequal %}
                                </td>
                                <td>{{ach.get_kind_display|title}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% if juggler2.score %}
                    All of {{juggler2.get_name}}'s achievements<br />have been achieved by {{juggler1.get_name}}
                {% else %}
                    {{juggler2.get_name}} does not have any achievements.
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block initjs %}
<script type="text/javascript">
  $(document).ready(function() {
    var tableSettings = {
      "bPaginate": false,
      "bFilter": false,
      "bInfo": false,
      "aaSorting": [[ 1, "desc" ]],
      "aoColumns": [{"sType": "html"}, {"sType": "numeric"}, null]
    };
    $('#juggler-1').dataTable(tableSettings);
    $('#juggler-2').dataTable(tableSettings);

    $('#juggler-1').css('width', '100%');
    $('#juggler-2').css('width', '100%');

    //draw chart
    var options = {
      legend: { show: true, container: $('#chart_legend') },
      lines: { show: true },
      points: { show: true },
      xaxis: { mode: 'time'},
      yaxis: { min: 0 },
      grid: { hoverable: true }
    };
    var data = [];
    var chartdiv = $("#diff_vs_time_chart");
    

    var onDataReceived = function(series) {
      bindTooltip(chartdiv, series.info)
      $.plot(chartdiv, series.data, options);
    };
         
    $.ajax({
      url: 'diff_chart_data',
      method: 'GET',
      data: 'juggler={{juggler1.id}}&juggler={{juggler2.id}}',
      dataType: 'json',
      success: onDataReceived
    }); 

  });
  
  //draw chart
  var options = {
    lines: { show: true },
    points: { show: true },
    xaxis: { mode: 'time'},
    legend: { position: 'nw' },
  };
  var data = [];
  var chartdiv = $("#score_vs_time_chart");
    
  var onDataReceived = function(label) {
    return function(series) {
        data.push({label: label, data: series});
        $.plot(chartdiv, data, options);
    };
  };
        
  $.ajax({
    url: 'juggler/{{juggler1.id}}/score_chart_data',
    method: 'GET',
    dataType: 'json',
    success: onDataReceived('{{juggler1.get_name}}')
  });
  
  $.ajax({
    url: 'juggler/{{juggler2.id}}/score_chart_data',
    method: 'GET',
    dataType: 'json',
    success: onDataReceived('{{juggler2.get_name}}')
  });
</script>
{% endblock %}
