{% extends "parent.html" %}

{% block title %} - {{juggler.get_name}}{% endblock %}

{% block content %}
<div class="container">
    <div class="span-16">
        <div class="span-16 last">
            <h2 class="title">{{juggler.get_name}}</h2>
            <h3>Score: {{juggler.score|floatformat:2}}</h3>
        </div>
        
        {% if not has_user_account and not request.user.is_authenticated %}
            <div class="span-16 last">
                <h3><a href="../../register/{{juggler.id}}">Claim this Juggler Account</a></h3>
            </div>
        {% endif %}

        {% if editable %}<form action="alter_achievements" method="post">{% endif %}

        {% if challengeable %}
            <div class="span-16 last">
                <h3 class="title">Challengeable Achievements</h3>
                <table id="challengeable" class="display">
                    <thead>
                        <tr>
                            <th>Achievement</th>
                            <th>Value</th>
                            <th>Type</th>
                            <th>Date Achieved</th>
                            <th>Challengeable Since</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ach in challengeable %}
                            <tr>
                                <td><a href="../../achievement/{{ach.achievement.id}}">{{ach.achievement.name}}</a></td>
                                <td class="value">{{ach.achievement.value|floatformat:2}}</td>
                                <td>{{ach.achievement.get_kind_display|title}}</td>
                                <td>{{ach.date_created|date:"M d, Y @ H:i"}}</td>
                                <td>{{ach.challengeable_since|date:"M d, Y @ H:i"}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br /> 
                {% if editable %}
                    <input class="submit_button" type="submit" value="Submit" />
                {% endif %}
            </div>
        {% endif %}

        <div class="span-16 last">
            <h3 class="title">Achievements</h3>
            <table id="achieved" class="display">
                <thead>
                    <tr>
                        {% if editable %}<th>Remove?</th>{% endif %}
                        {% if editable %}<th>Challenge?</th>{% endif %}
                        <th>Achievement</th>
                        <th>Value</th>
                        <th>Type</th>
                        <th>Date Achieved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ach in achievements %}
                        <tr>
                            {% if editable %}<td><input type="checkbox" name="remove" value="{{ach.achievement.id}}" /></td>{% endif %}
                            {% if editable %}<td><input type="checkbox" name="challenge" value="{{ach.achievement.id}}" /></td>{% endif %}
                            <td><a href="../../achievement/{{ach.achievement.id}}">{{ach.achievement.name}}</a></td>
                            <td class="value">{{ach.achievement.value|floatformat:2}}</td>
                            <td>{{ach.achievement.get_kind_display|title}}</td>
                            <td>{{ach.date_created|date:"M d, Y @ H:i"}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br /> 
            {% if editable %}
                <input class="submit_button" type="submit" value="Submit" />
            {% endif %}
        </div>

        <div class="span-16 last">
            <h3 class="title">Achievements Not Yet Achieved</h3>
            <table id="unachieved" class="display">
                <thead>
                    <tr>
                        {% if editable %}<th>Add?</th>{% endif %}
                        <th>Achievement</th>
                        <th>Value</th>
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for unach in unachieved %}
                        <tr>
                            {% if editable %}<td><input type="checkbox" name="add" value="{{ unach.id }}" /></td>{% endif %}
                            <td><a href="../../achievement/{{unach.id}}">{{unach.name}}</a></td>
                            <td class="value">{{unach.value|floatformat:2}}</td>
                            <td>{{unach.get_kind_display|title}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br />
            {% if editable %}
                <input class="submit_button" type="submit" value="Submit" /></form>
            {% endif %}
        </div>
    </div>
    
    <div id="sidebar" class="span-8 last">
        <div class="module juggler_chart">
            <div id="score_vs_time_chart" style="width:300px; height:200px;"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block initjs %}
<script type="text/javascript">
$(document).ready(function() {
  {% if editable %}
  var value_column = [1, 3, 2];
  var cols = [[], [null, null], [null]];
  {% else %}
  var value_column = [1, 1, 1];
  var cols = [[], [], []];
  {% endif %}

  var renderNAs = function(index) { 
    return function(obj) {
      if (obj.aData[value_column[index]] == "101.00")
        return "N/A";
      return obj.aData[value_column[index]];
    }
  }

  var t0 = $('#challengeable').dataTable({
    "bPaginate": false,
    "aaSorting": [[ value_column[0], "asc" ]],
    "aoColumns": cols[0].concat([{"sType": "html"},
            {"sType": "numeric",
             "fnRender": renderNAs(0),
             "bUseRendered": false},
             null, null, null])
  });
  $('#challengeable').css('width', '100%');

  var t1 = $('#achieved').dataTable({
    "bPaginate": false,
    "aaSorting": [[ value_column[1], "asc" ]],
    "aoColumns": cols[1].concat([{"sType": "html"},
            {"sType": "numeric",
             "fnRender": renderNAs(1),
             "bUseRendered": false},
             null, null])
  });
  $('#achieved').css('width', '100%');
  
  var t2 = $('#unachieved').dataTable({
    "bPaginate": false,
    "aaSorting": [[ value_column[2], "asc" ]],
    "aoColumns": cols[2].concat([{"sType": "html"},
            {"sType": "numeric",
             "fnRender": renderNAs(2),
             "bUseRendered": false},
             null])
  });
  $('#unachieved').css('width', '100%');
  
  $.map([t0, t1, t2], function(table, index) {
    var values = [''];
    table.find('td.value').each(function() {
      var value = $(this).html();
      var exists = false;
      for(var i = 0; i< values.length; i++) {
        if(values[i] === value) {
          exists = true;
          break;
        }
      }
      if(!exists) {
        values.push(value);
      }
    });
    var valueFilter = $('<select></select>').attr('name', 'value');
    var makeOption = function(value) {
      var option = $('<option></option>').attr('value', value).html((value === '') ? 'All' : value);
      valueFilter.append(option);
    };
    $.map(values, makeOption);
    valueFilter.change(function() {
      if (this.value == "N/A")
        table.fnFilter("101.00", value_column[index]);
      else
        table.fnFilter(this.value, value_column[index]);
    });
    $("#" + table.attr('id') + "_filter").before($('<label></label>').html('Show Achievements with Value: ').append(valueFilter));
  });
  //draw chart
  var options = {
    lines: { show: true },
    points: { show: true },
    xaxis: { mode: 'time'},
    yaxis: { min: 0 },
    grid: { hoverable: true }
  };
  var data = [];
  var chartdiv = $("#score_vs_time_chart");
    
  var onDataReceived = function(series) {
      data = [series.data];
      bindTooltip(chartdiv, [series.info]);
      $.plot(chartdiv, data, options);
  };
        
  $.ajax({
    url: 'score_chart_data',
    method: 'GET',
    dataType: 'json',
    success: onDataReceived
  }); 
});
</script>
{% endblock %}

