{% load tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Juggle Track {% block title %}{% endblock %}</title>
<script type="text/javascript" src="/juggletrack/site_media/js/jquery.min.js"></script>
<script type="text/javascript" src="/juggletrack/site_media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/juggletrack/site_media/js/jquery.flot.min.js"></script>
<script type="text/javascript" src="/juggletrack/site_media/js/chart.js"></script>
<!--
<link rel="stylesheet" type="text/css" href="/juggletrack/site_media/css/juggletrack.css" />
<link rel="stylesheet" type="text/css" href="/juggletrack/site_media/css/table.css" />
-->
<link rel="stylesheet" href="/juggletrack/site_media/css/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/juggletrack/site_media/css/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
  <link rel="stylesheet" href="/juggletrack/site_media/css/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->
<link rel="stylesheet" href="/juggletrack/site_media/css/blueprint/plugins/buttons/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/juggletrack/site_media/css/style.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/juggletrack/site_media/css/table.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="/juggletrack/site_media/css/blueprint/plugins/buttons/screen.css" type="text/css" media="screen, projection">
{% block script %}{% endblock %}
</head>
<body>

{% url juggletrack.views.dashboard.dashboard as dashboard_url %}
{% url juggletrack.views.achievement.collection as achievements_url %}
{% url juggletrack.views.juggler.collection as jugglers_url %}
{% url juggletrack.views.auth.login_view as login_url %}
{% url juggletrack.views.auth.logout_view as logout_url %}
{% url juggletrack.views.auth.register as register_url %}
{% url juggletrack.views.juggler.detail juggler_id=request.user.get_profile.id as juggler_url %}

<div id="top" class="container">
<div class="span-18">
    <h1>JuggleTrack</h1>
</div>
<div id="top_gutter" class="span-6 last">
    {% if request.user.is_authenticated %}
    Logged in as: <a href="{{juggler_url}}">{{request.user.get_full_name}}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{logout_url}}">Logout</a>
    {% else %}
    <a href="{{login_url}}">Login</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{register_url}}">Register</a>
    {% endif %}
</div>

<div id="nav" class="span-24">
    <ul>
        <li class="{% active request achievements_url %}"><a href="{{achievements_url}}">Achievements</a></li>
        <li>|</li>
        <li class="{% active request jugglers_url %}"><a href="{{jugglers_url}}">Jugglers</a></li>
    </ul>
</div>

</div>

{% block content %}
{% endblock %}
</body>
{% block initjs %}
{% endblock %}
</html>

