/* general colors */
body {
  background-color: white;
}

div#top, div#sidebar {
  background-color: #6e6f8a;
}

/* general behavior */
ul {
  list-style: none;
  padding-left: 5px;
  margin-bottom: 5px;
}

label {
  margin-right: 5px;
}

span.listcount {
  font-size: small;
}

h2 a.action {
  font-size: x-small;
}

div.label {
  text-align: right;
  margin-top: 8px;
}

/* disabled button */
button.disabled, button.disabled:hover {
  background-color: lightgray;
  color: gray;
  cursor: default;
}

/* navigation bar style */
div#nav ul li {
  display: inline;
}

div#nav a {
  color: black;
}

div#top_gutter {
  text-align: right;
  position: relative;
  right: 8px;
}

div#top_gutter a {
  color: black;
}

/* sidebar style */
div#sidebar div.module {
  margin: 4px;
}

div#sidebar a {
  color: black;
}

div#sidebar div.recent-activity ol {
  list-style: decimal;
}

div#sidebar div.module-head {
  font-size: large;
}

div#sidebar div.module-body {
  font-size: small;
}

div#sidebar .event-meta {
  font-size: xx-small;
}

div#sidebar ol {
  padding-left: 25px;
  margin-bottom: 10px;
}

div#sidebar div.feed_links {
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

/* login and register pages */
div#login_box,
div#register_box {
  border: thin solid black;
  margin-top: 75px;
}

div#login_box div.title,
div#register_box div.title {
  margin-top: 10px;
  text-align: center;
}

div#login_box input.field,
div#register_box input.field {
  width: 150px;
}

div#login_box #submit_button {
  margin-left: 23px;
}

div#register_box #submit_button {
  margin-left: 4px;
}

/* achievement page */
.title {
  margin-bottom: 0px;
}

.achievement_chart {
  background-color: white;
}

.achievement_animation .applet {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

/* juggler page style */
.juggler_chart {
  background-color: white;
}

div.table {
  padding-bottom: 20px;
}

/* juggler diff style */
div#diff_vs_time_chart,
div#chart_legend {
  margin-left: auto;
  margin-right: auto;
}
